*{
    font-family: 'Noto Sans HK', sans-serif;
      
}

$color : rgb(207, 207, 218);
$ancho : 100%;
$anchom : 125%;
$anchol:150%;

.separador {
    width: $ancho;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.separador-content {
    background-color: $color;
    width: $anchol;
    height: 100px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.separador .separador-contentbottom {
    background-color: $color;
    width: $anchom ;
    height: 100px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.col .boton-footer {
    background-color: $color;
    text-transform: uppercase;
    
}

.tarjetas .tarjetas-contenido {
    text-transform: uppercase;
    color: darkblue;
}

.tarjetas {
    background-color: $color;
    text-align: center;
}

.card-text {
    text-align: center;
    color: black;
    text-transform: lowercase;
}

.cabecera {
    background-color: $color;
}

.mixin-container {
    display: flex;
    justify-content: center;

}

@mixin items-mixin {
    height: 150px;
    width: 150px;
    padding: 10px;
    margin: 50px;
    margin-left: 100px;
    border: 150px;
    border-color: black;

}

.mixin-item{
    @include items-mixin;
}

.mixin-item img {
    height: 150px;
    width: 150px;
}

.boton-fix {
    display: flex;
    justify-content: center;
}